h1 create new category page

form(method="POST", action="/categories")
		.input-group
			label(for='name') Category Name
			input#name(type='text', name='name', value='')
		.input-group
			label(for='desc') Description
			input#desc(type='text', name='description')
		.input-group
			input(type='submit', value='Save Category')
